@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    cursor: pointer;
  }
  
  input:not( [ type = 'checkbox']){
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg
  }
  textarea{
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none
  }
}